.hero-c {
  background-color: #fff4e6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.85'%3E%3Ccircle fill='%23fff4e6' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23e7c8bc' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23cd9da0' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23a87790' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23735886' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23204277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.level {
  padding: 30px;
}

.level-item {
  padding: 30px;
}

.service-title {
  min-width: 30px;
  margin: 0 auto;
}

.heading img {
  width: 50px;
}

.service-columns {
  padding: 60px;
}

.featured-flowers {
  background-color: aquamarine;
  min-height: 300px;
  padding: 100px;
}

.featured-flowers-center {
  min-width: 80%;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.carousel-column {
  display: flex;
  justify-content: center;
}

.carousel-container {
  max-width: 400px;
  min-height: 400px;
  margin-top: 100px;
}

.info-column {
  display: flex;
  justify-content: center;
}

.single-flower-info-container {
  width: 400px;
  min-height: 400px;
  margin-top: 100px;
}
